
.imagen-inicio{
    width: 100%;
}
section> h1{
    width: 100%;
    text-align: center
}
.biografia{
    padding-top: 30px
}
.biografia h1{
    margin-bottom: 30px
}
.texto-imagen{
    width: 100%;
    display: flex;
    align-items: center
}
.texto-imagen .texto{
    margin-right: 15px
}
.elemento{
    margin-bottom:30px;
}
.elemento h2{
    margin-bottom: 10px;
}
.lista-canciones{
    display: flex;
    justify-content: space-around;
}

.contenedor-lista-canciones-titulo{
    width: 100%;
}

.contenedor-lista-canciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 15px;
}

.contenedor-img-cancion{
    width: 150px;
    height: 150px;
    margin: 5px;
    overflow: hidden;
}
.contenedor-img-cancion img{
    transform: scale(1);
    transition: transform 300ms
}

.contenedor-img-cancion a:hover img{
    transform: scale(1.1);
}
.contenedor-img-cancion.sin_a img{
    filter: grayscale(100%) 
}